.container {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  margin: 0 auto;
  border: 2px solid #333;
}

.square {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}

.square.colored {
  background-color: #333;
}